* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 350px;
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

.tab-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.tab-buttons button {
  flex: 1;
  margin: 0 5px;
  padding: 8px;
  border: none;
  border-radius: 8px;
  background-color: royalblue;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

.tab-buttons button:hover {
  background-color: #4169e1;
}

.tab-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.tab-form input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.tab-form button {
  padding: 10px;
  background-color: royalblue;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.tab-form button:hover {
  background-color: #4169e1;
}

.hidden {
  display: none;
}